.container {
    text-align: center;
  }
  
  .header {
    color: #333; /* Changed navy to a slightly lighter color */
    font-size: 2rem; /* Increased font size for header */
    margin-bottom: 20px; /* Added some space below header */
  }
  
  .box {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; Make the box take up the full viewport height */
  }
  
  
  .keyboard__event {
    background-color: #333;
    color: white;
    height: 50px;
    text-align: center;
    margin-top: 10px;
    border-radius: 5px; /* Added rounded corners */
  }
  
  .keyboard__event p {
    font-size: 18px;
    padding-top: 5px;
    margin: 0; /* Removed default margin */
  }
  
  /* Added a hover effect for better interactivity */
  .keyboard__event:hover {
    background-color: #555;
  }
  
  
  /* Remove black color on key press */
  .keyboard__event:active {
    background-color: #333; /* Change to match the container background color */
  }